.dataTables_length {
  select {
    border-radius: 5px;
    padding: 5px;
  }
}

.dataTables_filter {
  input {
    border-radius: 5px;
    border: 1px solid steelblue;
    padding: 5px;
  }
}

.dataTables_paginate {
  .paginate_button {
    &.current {
      color: white !important;
      background: steelblue !important;
    }
  }
}
